/* flex-container */

.flex-container {
  display: flex;
  background-color: yellow;
}

.flex-container div {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: #2196F3;
}

/* flex-inline */

.flex-inline {
  display: inline-flex;
  background-color: black;
  color: white;
  padding: 20px;
}

.flex-inline div {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: #2196F3;
}

/* flex-direction */

.flex-container1 {
  display: flex;
  background-color: blueviolet;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}

.flex-container3 {
  display: flex;
  flex-direction: column-reverse;
  background-color: blueviolet;
}

.flex-container4 {
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
}

.flex-container5 {
  display: flex;
  flex-direction: row-reverse;
  background-color: blueviolet;
}


.flex-container5 div,
.flex-container4 div,
.flex-container3 div,
.flex-container2 div,
.flex-container1 div {
  width: 100px;
  height: 100px;

  font-size: 30px;
  color: white;

  padding: 10px 20px;
  box-sizing: border-box;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}