.modal {
  display: none;     /* скрываем заготовку для модального окна (по дефолту скрыта) */
  position: fixed;
  z-index: 1;        /* накладывание поверх окон (Фон на нижнем слое) */

  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;

  overflow: auto;    /* При необходимости, то появиться прокрутка */

  background-color: rgb(0, 0, 0);         /* сработает если гдето не сработает rgba */
  background-color: rgba(0, 0, 0, 0.5);   /* полу прозрачный фон*/
  
  animation-name: animate;
  animation-duration: 1.5s;

  -webkit-animation-name: animate;
  -webkit-animation-duration: 1.5s;
}

@keyframes animate {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@-webkit-keyframes animate {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

.modal-content{
  position: relative;
  border: 1px solid #888;
  width: 80%;
  background-color: #2d2d2d;
  color: #fefefe;
  padding: 10px;
  margin: 15% auto;
  background-color: blue;
}

.modal-close {
  float: right;
  color: #aaa;
  font-size: 20px;
  font-weight: bold;
  background-color: #fefefe;
}

.modal-close:hover,
.modal-close:focus {
  color: red;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
}

.modal-header{
  padding: 2px 16px;
  color: whitesmoke;
  background-color: #888;
}

.modal-body {
  padding: 2px 16px;
  background-color: cornflowerblue;
}

.modal-footer {
  color: white;
  padding: 2px 16px;
  background-color: #9C27B0;
}