.win-block {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #3e3b3b;
  background: rgba(19, 18, 18, 0.7);
  border-radius: 1px;
  border: 1px solid #e2e1e1;
  box-shadow: 0px 4px 10px rgba(158, 153, 153, 0.49), 0px 10px 30px -15px rgba(29, 27, 27, 0.47);
  
  animation-name: animate-block;
  animation-duration: 2.5s;

  -webkit-animation-name: animate-block;
  -webkit-animation-duration: 2.5s;
}

.modal-login {
  z-index: 2;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  color: white;

  animation-name: animate-login;
  animation-duration: 1.0s;

  -webkit-animation-name: animate-login;
  -webkit-animation-duration: 1.0s;
}

@keyframes animate-block {
  from {
    top: 0px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@-webkit-keyframes animate-block {
  from {
    top: -0px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animate-login {
  from {
    top: 30%;
    opacity: 0
  }
  to {
    top: 50%;
    opacity: 1
  }
}

@-webkit-keyframes animate-login {
  from {
    top: 30%;
    opacity: 0
  }
  to {
    top: 50%;
    opacity: 1
  }
}

.modal-login .header {
  display: block;
}

.modal-login .header .modal-close {
  float: right;
  font-size: 50px;
  color: rgb(228, 228, 228);
  margin: 0%;
  margin-top: -20%;
  margin-right: -20%;
  color: rgba(255, 255, 255, 0.3)
}

.modal-login .header .modal-close:hover {
  cursor: pointer;
  color: white;
}

.modal-login .form-control {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.modal-login .btn {
  background-color: rgba(0, 0, 0, 0.0);
  border: solid #aaa;
}

.modal-login .btn:focus,
.modal-login .btn:hover {
  background-color: azure;
}