.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}


/* BEGIN (write your solution here) */

.left-aside {
  width: 200px;
  min-height: 50vh;
  background-color: #d32f2f;
}

.content-side {
  background-color: #388e3c;
  min-height: 50vh;
  flex-grow: 1;
}

.right-aside {
  width: 350px;
  background-color: #1976d2;
  min-height: 50vh;
}


/* END */