:root {
  --height-block: 50px
  --width-block: 100px;
}

.bg-red {
  background: #d32f2f;
}

.bg-green {
  background: #388e3c;
}

.bg-blue {
  background: #1976d2;
}

.items-flexibility {
  display: flex;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height-block);
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.flex-grow-1 {
  flex-grow: 1;
}