.lin-1 {
  background-color: aqua;
}

.lin-2 {
  background-color: rgb(226, 223, 43);
}

.bloc {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: none;
}

.bloc select {
  padding: 10px;
  margin: -5px -20px -5px -5px;
}

.icon {
  font-size: 1.6em;
  height: 1.0em;
  width: 0.8em;
  position: relative;
  text-align: center;
}	

.i-edit {
  color: black;
  padding-right: 20px;
}	
.i-remove {
  color: red;
}	
