.lin-1 {
  background-color: aqua;
}

.lin-2 {
  background-color: rgb(226, 223, 43);
}

.bloc {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: none;
}

.bloc select {
  padding: 10px;
  margin: -5px -20px -5px -5px;
}