<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap-theme.min.css">

  <title>Main</title>
</head>

<body>

  <div class="navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">user@user : as User</a>
      </div>
      <div class="navbar-right">
        <a href="#" class="navbar-brand btn-link">logout</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <aside class="col-12 col-sm-2 col-md-2 col-lg-2" style="background-color: antiquewhite;">
        <p>Боковая панель проекта. При разрешении менее 720px она начинает занимать всё доступное пространство</p>
      </aside>

      <main class="col-12 col-sm-10 col-md-10 col-lg-10" style="background-color: whitesmoke;">

        <div class="container">
          <div class="row ">
            <h1>Admin panel</h1>
          </div>


          <div class="row ">

            <ul class="nav nav-tabs" role="tablist">
              <li><a href="#users" role="tab" data-toggle="pill">Users panel</a></li>
              <li lass="active"><a href="#adduser" role="tab" data-toggle="pill">New User</a></li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade" id="users">

                <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">All users</div>
                    <div class="panel-body">

                      <div class="table-responsive">
                        <table class="table table-hover table-striped">
                          <thead>
                            <tr>
                              <th>Имя</th>
                              <th>Номер телефона</th>
                              <th>Почта</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Василий</td>
                              <td>+78285762343</td>
                              <td>vasya@gmail.com</td>
                            </tr>
                            <tr>
                              <td>Миша</td>
                              <td>+78652762343</td>
                              <td>misha@test.com</td>
                            </tr>
                            <tr>
                              <td>Петр</td>
                              <td>+782567862343</td>
                              <td>petya@mail.ru</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>


                    </div>
                  </div>
                </div>
              </div>


              <div role="tabpanel" class="tab-pane fade" id="adduser">

                <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">Add User</div>
                    <div class="panel-body">

                      




                    </div>
                  </div>

               </div>

              </div>

            </div>
          </div>

        </div>


      </main>
    </div>
  </div>


  <script type="text/javascript" src="../static/js/jquery/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap/bootstrap.min.js"></script>

  <script>
    $('a[data-toggle="pill"]').on('hidden.bs.tab', function(e) {
      console.log(e.target); // вкладка, которая стала активной
      console.log(e.relatedTarget); // предыдущая активная вкладка
    })
  </script>
</body>

</html>