<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../static/js/bootstrap/bootstrap.min.js">
  <title>Main</title>
</head>

<body>

  <div class="navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
       <a href="#" class="navbar-brand">user@user : as User</a>
      </div>
      <div class="navbar-right">
         <a href="#" class="navbar-brand btn-link">logout</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <aside class="col-12 col-md-2 col-lg-2" style="background-color: chartreuse;">
        <p>Боковая панель проекта. При разрешении менее 720px она начинает занимать всё доступное пространство</p></aside>
      </aside>
      <main class="col" style="background-color: yellow;">
        
        <div>
          <h1>Admin panel</h1>
          <p>При использовании класса col колонка всегда будет растягиваться на всю доступную ширину в пределах контейнера</p>
        </div>
        
        
      </main>
    </div>
  </div>


</body>

</html>