<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1080, initial-scale=1.0">

  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../static/style.css">

  <title>Main panel</title>
</head>

<body>

  <div class="container-fluid">
    <div class="row">

      <aside class="col-sm-2 col-md-2 col-lg-2">

        <div class="row">

          <ul class="nav nav-stacked nav-pills" role="tablist">
            <li class="active">
              <a href="#admin" role="tab" data-toggle="pill"> Admin </a>
            </li>
            <li>
              <a href="#user" role="tab" data-toggle="pill"> User </a>
            </li>
          </ul>

        </div>
      </aside>

      <main class="col-sm-10 col-md-10 col-lg-10">
        <div class="row">

          <div class="tab-content">

            <div role="tabpanel" class="tab-pane active fade in" id="admin">
              <p>Вкладвка Admin</p>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="user">
              <p>Вкладвка User</p>
            </div>
          </div>

        </div>
      </main>

    </div>
  </div>

  <script type="text/javascript" src="../static/js/jquery/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap/bootstrap.min.js"></script>

</body>

</html>