<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../static/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/css/bootstrap/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../static/style.css">

  <title>Sign in</title>
</head>

<body>

  <div class="container">

    <div class="row row-centered">
      <div class="col col-sm-4 col-md-3 col-lg-3 col-xl-3 col-centered">
        <div class="row text-center">
          <div class="col">
            <h1><strong>Please sign in</strong></h1>
          </div>
          <form action="" method="post">
            
            <div class="form-group">
              <div class="col">
                <input type="email" name="email" id="email" placeholder="Email" class="form-control">
              </div>
              <div class="col mb-4">
                <input type="password" name="password" id="password" placeholder="Password" class="form-control">
              </div>
            </div>

            <div class="col">
              <input type="submit" name="login" id="login" class="btn btn-primary form-control" value="Sign in">
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../../static/js/jquery/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../../static/js/bootstrap/bootstrap.min.js"></script>

</body>

</html>